body {
    background-color: rgba(0, 255, 255, 0.87);
    color: rgb(0, 4, 255);
    position: absolute;
}

.profile-image {
    width: 200px;
    height: auto;
    position: absolute;
    top: 10px;
    right: 100px;
}
