body {
    background-color: rgba(240, 148, 217, 0.87);
    color: rgb(154, 107, 241);
}

.profile-image {
    width: 110px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 230px;
}
