body {
    background-color: rgba(238, 175, 222, 0.87);
    color: rgb(147, 97, 241);
}

.profile-image {
    width: 105px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 230px;
}
